<p id="notice"></p>
  <div class="container">
   <div class= "col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
 <h3>レシピ編集画面</h3>
<%= form_with model: @recipe, local:true do |f| %>
　
　<div class="form-group">
   <label for="recipe_title">Title</label>
   <p><%= f.text_field :recipe_title %></p>
 </div>
 
 <div class="form-group">
   <%= f.file_field :images, multiple: true, class: "size" %></br>
   ※レシピのイメージができるような写真を投稿してください。
  </div>
  
 <div class="form-group">
  <%= f.label :capital %>
  <%= f.text_area :recipe_capital, size: "40x5", :maxlength => 200, class: "introduction" %>
  </div>

  
  <div class="form-group row">
    <%= f.label :ジャンル, class: "col-sm-4" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "form-control col-sm-8" %>
  </div>

  <div class="form-group"><br/>
    <input type="submit" name="commit" value="内容を変更する" class="btn btn-success" data-disable-with="内容を変更する" />
  </div>
 <% end %>
 </div>
  </div>
  </div>
  </div>
 