 <div class="item">
      <%= image_tag 'tribesh-kayastha-zgdhwK1UT3U-unsplash.jpg', class: 'w-100' %>
       <div class="carousel-caption d-none d-md-block">
        <h2>List.skill</h2>
        <h4>人と人とのコミュニティーが広がる</h4>
        <p>投稿、いいね、コメントをしてみよう</p>
      </div>
    </div>




 <div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-6 px-sm-0 mx-auto">

 　 <h2>List.Skillでできること</h2>
  <div class="card-container">
    <div class="card-img">
     <a><%= image_tag 'crowd-1056764_640.jpg', class: 'sized' %></a>
    </div>
    <div class="card-text">
        <h2>Event</h2>
        <p>イベントの紹介 作品の画像を投稿でき、開催場所を、オンライトと指定した開催地のどちらかを 選択することができます。<br/>
        また、オンライン開催は指定のURLを記入し、開催地選択は、 住所を記入することで、地図を表示することができます。</p>
    </div>
</div>

<div class="card-container">
    <div class="card-img">
     <a><%= image_tag 'markus-spiske-PIJwPMtzBI0-unsplash.jpg', class: 'sized' %></a>
    </div>
    <div class="card-text">
        <h2>Recipe</h2>
        <p> レシピ投稿は、自分だけのオリジナルレシピを画像付きで投稿し、他のユーザが コメントやいいねを押したりすることができます。</p>
    </div>
  </div>

  <div class="card-container">
    <div class="card-img">
     <a><%= image_tag 'team-386673_640.jpg', class: 'sized' %></a>
    </div>
  　<div class="card-text">
        <h2>Ｍy pageage</h2>
        <p>自分自身を紹介をきっかけに、自分を知ってもらうだけでなく、共有の趣味、特技を持っている人とコミュニティが作れます！</p>
    </div>
  </div>

  <div class=container6>
  　<h3>利用するには<%= link_to "新規登録", new_user_registration_path %>が必要です。</h3>
  </div>
 </div>
 </div>
 </div>

  <footer>
   <ul class="nav">
    <li class="nav__item"><a href="/concept">Concept</a></li>
    <li class="nav__item"><a href="/news">News</a></li>
   </ul>
  </footer>
  <!--<script src="./app.js"></script>-->

